{% extends 'base.html' %}

{% block title %}Home | EATOPIA{% endblock %}

{% block content %}
<section class="featured-restaurants py-5">
    <div class="container text-center">
        <h2>Registered Restaurants</h2>
        <div class="row">
            {% for restaurant in restaurants %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ restaurant.photo.url }}" class="card-img-top" alt="{{ restaurant.restaurant_name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ restaurant.restaurant_name }}</h5>
                        <p class="card-text">{{ restaurant.location }}</p>
                        <a href="{% url 'restaurant_detail' restaurant.id %}" class="btn btn-primary">View Dishes</a>
                    </div>
                </div>
            </div>
            {% empty %}
            <p>No restaurants available at the moment.</p>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}
